#onloadPlayer{
    video{
        border-radius: 0px;
    }
    position: absolute;
    width: 14%;
    top: 25.7%;
    left: 21.6%;
    /* border: 3px solid #000; */
    /* border-radius: 0px; */
    z-index: 9;
    line-height: 0%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

#onloadPlayer2{
  video{
      border-radius: 0px;
  }
  position: absolute;
  width: 13.7%;
    top: 26%;
    left: 65%;
    z-index: 9;
  /* border: 3px solid #000; */
  /* border-radius: 0px; */
  line-height: 0%;
  // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

#onloadPlayer3{
  video{
      border-radius: 0px;
  }
  position: absolute;
  width: 23%;
  top: 21.8%;
  left: 38.75%;
  /* border: 3px solid #000; */
  /* border-radius: 0px; */
  z-index: 9;
  line-height: 0%;
  // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}