<section id="bg_section">
    <div id="content_section">
        <div id="player_section" [ngStyle]="{'top':audiObj.player_top+'%', 'left':audiObj.player_left+'%'}">
            <div id="player-wrapper" class="player-container"></div>
        </div>    
        <!-- {{audiObj?.banner}} -->
        <img style="height: auto !important;" id="bgimg" [src]="(audiObj?.banner != '') ? audiObj?.banner : myImgUrl" alt="">
        <app-audi-menu></app-audi-menu>  
    </div>
</section>
<app-ask-question></app-ask-question>
<app-poll></app-poll>
<app-group-chat></app-group-chat>
<app-quiz></app-quiz>