#login_section{   
    position: absolute;
    // transform: translate(10%, -30%);
    bottom: 25%;
    width: 20%;
    left: 5%;
}
input[type="text"], input[type="email"]{
  background: #c0a3ef00;
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
  font-size: clamp(0.7rem, 1vw, 3rem);
  margin-top: 5px;

    // border-radius: 10px;
    // border: none;
    // box-shadow: 1px 1px 1px 1px;
}
#submitBtn{
    // float: left;
    text-align: center;
    #loginbtn{
      margin: 12px 0px;
      background-color: #af3243;
      color: white;
      border-radius: 5px;
      padding: 8px 36px;
      width: 100%;
    }
}

::placeholder {
    color: white;}

    a{
        text-decoration: none;
        color: #8463e2;
        font-weight: 700;
    }

    .form-group {
        margin-bottom: 0rem !important; 
    }
   



    @media screen and (min-width: 992px) {
        .web_image{
            display: block !important;
          }
          .mob_image {
            display: none !important;
          }
      }

  @media (max-width: 767px) and (orientation: portrait) {
    .web_image {
      display: none !important;
    }
    .mob_image {
      display: block !important;
    }
    #login_section{  
        text-align: center; 
        position: absolute;
        // transform: translate(10%, -30%);
        top: 60% !important;
        width: 70%;
        // right: 15%;
    }
    label{
      font-size: 7px !important;
    }
    .invalidError{
      font-size: 8px !important;
  }
  }

  @media (max-width: 900px) and (orientation: landscape) {
    .web_image{
        display: block !important;
      }
      .mob_image {
        display: none !important;
      }
      label{
        font-size: 7px !important;
      }
      h6{
        font-size: 10px;
      }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .web_image {
      display: block !important;
    }
    .mob_image {
      display: none !important;
    }
  }

  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    position: relative;
    top: 4px;
    margin: 6px;
  }

  label{
    font-size: 10px;
  }