#arrowButtons{
    color: white;
    #arrLeft,#arrRight{
        cursor: pointer;
        position: fixed;
        bottom: 15%;
        font-weight: 600;
        background-color: #e17044;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        text-align: center;
        box-shadow: 0 0 5px 2px #e17044;
        .fa{
            font-size: 48px;
            // background: black;
            border-radius: 50%;
            line-height: 46px;
        }
        
    }
    #arrLeft{
        left: 3%;
    }
    #arrRight{
        right: 3%;
    }
}
#arrLeft:hover, #arrRight:hover{
    transition: .3s;
    transform: scale(1.2);
}

.p1{
    top: 62%;
    left: 34.6%;
}
.p2{
    top: 77%;
    left: 87%;
}
.p3{
    top: 48%;
    left: 74.5%;
}
.p4{
    top: 55%;
    left: 51.5%;
}
.p5{
    top: 75%;
    left: 18.4%;
}
.p6{
    
    top: 47%;
    left: 27.5%;

}
.p7{
    top: 63%;
    left: 68.8%;
}
.p8{
    top: 76%;
    left: 52.4%;
}