<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" [src]="(stallData.length >= 1)? stallData[0]['banner']: stallData[0]['banner']" alt="">
    <div *ngFor="let p of creatives | keyvalue; let i=index" class="p{{i+1}}" data-bs-toggle="tooltip"
      data-bs-placement="top" title="{{p.key.title | titlecase}}" (click)="pointerMethod(p.key, p.value)">
      <div class="pulsating-circle"></div>
    </div>

    <div id="onloadPlayer" *ngIf="this.main_id == '795'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiDiptheria.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '796'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiHepatitis.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '797'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiHiB.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '798'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiIMD.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '799'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiInfluenza.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '800'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiPertussis.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '801'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiPolio.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="onloadPlayer" *ngIf="this.main_id == '802'">
      <video id="centerPlay" width="100%" preload="auto" playsinline autoplay loop controls>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/SanofiVCI.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div *ngFor="let booth of boothList">
  <div class="pc" (click)="openBooth(booth)">
    <div class="pulsating-circle"></div>
  </div>
</div>

</section>

<!-- <div id="boothIcons">
  <ul>
    <li class="btn-primary" *ngFor="let booth of boothList" (click)="openBooth(booth)">
      <a href="javascript:void(0)">
        {{booth.name}}
        <span>
          <img src="{{booth.src}}" alt="">
        </span>
      </a>
    </li>
  </ul>
</div> -->
<!-- <div id="socialicons">
  <a href="{{stallData[0]?.linkedin}}" *ngIf="stallData[0]?.linkedin == ''" target="_blank" rel="noopener noreferrer">
    <i style="margin-left: 8px;font-size: 60px;" class="fa fa-globe"></i>
  </a>
  <a target="_blank" *ngIf="stallData[0]?.twitter == ''" href="{{stallData[0]?.twitter}}"><img
      src="assets/icons/twit.png" alt=""></a>
  <a target="_blank" *ngIf="stallData[0]?.youtube == ''" href="{{stallData[0]?.youtube}}"><img
      src="assets/icons/youtube.png" alt=""></a>
  <a target="_blank" *ngIf="stallData[0]?.linkedin_url == ''" href="{{stallData[0]?.linkedin_url}}"><img
      src="assets/icons/linkdin.png" alt=""></a>
  <a target="_blank" *ngIf="stallData[0]?.fb == ''" href="{{stallData[0]?.fb}}"><img src="assets/icons/fbicon.png"
      alt=""></a>

</div> -->

<app-enquiry-form></app-enquiry-form>
<app-exhibitor-chat [receiver_name]="receiver_name"></app-exhibitor-chat>
<div class="modal fade" id="open_popup_modal" tabindex="-1" aria-labelledby="open_popup_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="open_popup_modalLabel">{{modalTitle | titlecase}}</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0"
                [ngStyle]="{'text-align':(modalTitle==='brochures')? 'inherit':(modalTitle==='briefcase')? 'inherit': 'center'}">
                <div id="popupData">
                </div>
                <div id="popupDocsData" *ngIf="(modalTitle=='brochures')||(modalTitle=='briefcase')">
                  <div style="height: 451px;overflow: auto;" class="m-3">
                    <!-- <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let b of stallData[0]['brochure']">
                            {{b.name}}
                          </li>
                        </ul> -->
                    <!-- <button class="btn btn-success" (click)="downloadZip()">download Zip</button> -->
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <!-- <th scope="col"><input class="form-check-input" type="checkbox" value="" id="check_all" (change)="selectZipAll(stallData[0]['brochure'].length)"></th> -->
                          <th scope="col">Name</th>
                          <!-- <th scope="col">Add to Briefcase</th> -->
                          <th scope="col">View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let b of stallData[0]['brochure']; let i = index">
                          <td>{{i+1}}</td>
                          <!-- <td><input class="form-check-input" type="checkbox" value="" id="check_{{i+1}}" (change)="selectZip($event)"></td> -->
                          <td>{{b.title}}</td>
                          <!-- <td><img src="assets/event/Briefcase.png" (click)="addToBriefcase(b)" alt=""></td> -->
                          <td>
                            <a href="{{b.url}}" target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                            <!-- <a (click)="downloadPdf(b.url)" style="cursor: pointer;"><i class="fa fa-download"></i></a> -->

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>