<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" src="{{bgImg}}" alt="">
    <div id="openPhoto" (click)="showPhotobooth('assets/event/photobooth_files/photo-jacket3.png')">
      <!-- <div class="pulsating-circle"></div> -->
    </div>
    <div id="openPhoto2" (click)="showPhotobooth('assets/event/photobooth_files/photo-jacket2.png')">
      <!-- <div class="pulsating-circle"></div> -->
    </div>
    <div id="openPhoto3" (click)="showPhotobooth('assets/event/photobooth_files/photo-jacket.png')">
      <!-- <div class="pulsating-circle"></div> -->
    </div>
  </div>
  <!-- <div class="pc" routerLink="/wall">
    <div class="pulsating-circle"></div>
  </div> -->
  <!-- <div id="onloadPlayer">
    <video id="centerPlay"  width="100%" muted preload="auto" playsinline autoplay loop>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/conclave2022.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> 
</div> -->
</section>
<!-- <app-capture-photo></app-capture-photo> -->
<!-- photobooth -->
<div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-0 m-1">
        <div id="close_modal_popup" (click)="closePhotobooth()">&times;</div>
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                <img id="camImg" src="{{main_img}}" width="100%" alt="">
                <video #videoStream id="videobgStream" class="vid videoData" autoplay playsinline></video>
                <div id="buttons">
                  <img src="assets/event/photobooth_files/click.png" width="12%" (click)="capturePhoto()" alt="">
                </div>
                <!-- <button class="btn btn-success" (click)="showingBg()" style="position: absolute; top: 0; margin: 5px;"><i class="fa fa-bars"></i></button> -->
                <div id="bgplace" class="text-center">
                  <p class="m-2" style="color: #1592c5cf;">Background</p>
                  <div id="bgImgView">
                    <!-- <div>
                                  <p>Background</p>                             
                                </div> -->
                    <i class="fa fa-angle-up" (click)="moveTop()"></i>
                    <ul id="frameImg">
                      <li *ngFor="let x of frameImgs" (click)="changeFrameImg(x)">
                        <img src="{{x.img}}" alt="">
                      </li>
                    </ul>
                    <i class="fa fa-angle-down" (click)="moveDown()"></i>
                  </div>
                </div>
              </div>
              <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                <div id="buttons">
                  <a href="{{img}}" download="screenshot.jpeg">
                    <img src="assets/event/photobooth_files/down.png" width="12%" (click)="downloadPic()" alt="">
                  </a>
                  <img src="assets/event/photobooth_files/re.png" width="12%" (click)="reload()" alt="">
                  <!-- <a class="share-btn" title="Share">
                                <i class="fa fa-share-alt"></i>
                              </a>                            -->
                </div>
                <!-- <div class="share-btn-container">
                                <a class="facebook-btn">
                                  <i class="fa fa-facebook"></i>
                                </a>
                            
                                <a class="twitter-btn">
                                  <i class="fa fa-twitter"></i>
                                </a>
                            
                                <a class="instagram-btn">
                                  <i class="fa fa-instagram"></i>
                                </a>
                            </div> -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>