#bgimgvh{
    width: 100%;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .notification-drop {
    font-family: 'Ubuntu', sans-serif;
    color: #444;
  }
  .notification-drop .item {
    padding: 10px;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  .notification-drop .item:hover {
    cursor: pointer;
  }
  .notification-drop .item i {
    margin-left: 10px;
  }
  .notification-drop .item ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    left: -200px;
    right: 0;
    z-index: 1;
    border-top: 1px solid #ddd;
  }
  .notification-drop .item ul li {
    font-size: 16px;
    padding: 15px 0 15px 25px;
  }
  .notification-drop .item ul li:hover {
    background: #ddd;
    color: rgba(0, 0, 0, 0.8);
  }
  
  @media screen and (min-width: 500px) {
    .notification-drop {
      display: flex;
      justify-content: flex-end;
    }
    .notification-drop .item {
      border: none;
    }
  }
  
  
  
  .notification-bell{
    font-size: 20px;
  }
  
  .btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    padding:  3px 10px;
    border-radius: 50%;
  }
  
  
  
  
  
  .notification-text{
    font-size: 14px;
    font-weight: bold;
  }
  
  .notification-text span{
    float: right;
  }
  #onloadPlayer{
    video{
        border-radius: 0px;
    }
    position: absolute;
    width: 10%;
    top: 33.6%;
    left: 29.3%;
    /* border: 3px solid #000; */
    /* border-radius: 0px; */
    z-index: 9;
    line-height: 0%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

#onloadPlayer2{
  video{
      border-radius: 0px;
  }
  position: absolute;
  width: 10%;
  top: 33.6%;
  left: 61%;
  /* border: 3px solid #000; */
  /* border-radius: 0px; */
  z-index: 9;
  line-height: 0%;
  // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

#onloadPlayer3{
  video{
      border-radius: 0px;
  }
  position: absolute;
  width: 17%;
    top: 30%;
    left: 41.7%;
  /* border: 3px solid #000; */
  /* border-radius: 0px; */
  z-index: 9;
  line-height: 0%;
  // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}