 
#hamburger{
    font-size: 24px;
    cursor: pointer;
    background: #141433;
    // background: #b13d36;
    color: white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    padding: 3px;
    line-height: 30px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #fff;
    // background: #b13d36;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 36px;
}

.sidenav a {
    padding: 8px 8px 8px 18px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
    img{
        width: 20px;
    }
    span {
        margin: 0 0 3px 3px;
    }
}

.sidenav a:hover {
    color: #f15c25;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#sidebar{
position: absolute;
top: 0;
}
#sidenavList{
    list-style-type: none;
    padding: 1px;
    li{
        padding: 3px;
        
    }
}
.footer-nav{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 0px 0 0px 0;
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 5.98%, rgba(255, 255, 255, 0.12) 25.24%, rgba(255, 255, 255, 0.46) 59.38%, #ffffffbf 90%, #ffffffbf 90%)
  }

  .footer-nav1{
      padding: 0; margin: 7px 0 0 0;
  }
  .footer-nav1 li{
      
      padding: 6px 12px 6px 12px;
      margin: 0;
      display: inline-block;
      list-style: none;
      text-decoration: none;

      a{
          text-decoration: none;
          // color: white;
          color: black;
          font-size: 10px;
          font-weight: 700;
          cursor: pointer;
          img {
              transition: .3s;
              -ms-transform: scale(.85); /* IE 9 */
              -webkit-transform: scale(.85); /* Safari 3-8 */
              transform: scale(.85); 
              transition: .3s;
              -ms-transition: .3s; /* IE 9 */
              -webkit-transition: .3s; /* Safari 3-8 */

          }
          .fa{
              font-size: 24px;
          }
      }
      .linkActive {
          .fa{
              font-size: 24px;
              color: #f15c25;
          }
          div{
              border-bottom: 2px solid #f15c25;
              color: #f15c25;
          }
          padding-bottom: 10px;
      }
  }
  .footer-nav1 li:hover{
      a{
          img{
              transition: .3s;
              -ms-transform: scale(1.1); /* IE 9 */
              -webkit-transform: scale(1.1); /* Safari 3-8 */
              transform: scale(1.1); 
          }
          .fa {
              transition: .3s;
              -ms-transform: scale(1.2); /* IE 9 */
              -webkit-transform: scale(1.2); /* Safari 3-8 */
              transform: scale(1.2); 

          }

      }
  }

@media screen and (max-width: 867px) {
    .footer-nav{
        display: none;
    }
    #mySidenav{
        display: block;
    }
    #sidebar{
     z-index: 100;
    }
}
@media screen and (min-width: 868px) {
    #hamburger{
        display: none;
    }
    .footer-nav{
        display: block;
    }
}